<li [ngClass]="{ editing: isEditingProps }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todoProps.isCompleted"
      (change)="toggleTodo()"
    />
    <label [ngClass]="{completed: todoProps.isCompleted}" (dblclick)="activateEditMode()">{{ todoProps.text }}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  <ng-container *ngIf="isEditingProps">
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  </ng-container>
</li>
