<header class="header">
  <h1>todos</h1>
  <input
    class="new-todo"
    placeholder="What needs to be done?"
    autofocus
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addTodo()"
    required
  />
</header>
